
title = "AxoSyslog"

theme = ["docsy-axoflow", "docsy"]

baseurl = "/"

languageCode = "en-us"

# Language settings
contentDir = "content"
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false
# Useful when translating.
enableMissingTranslationPlaceholders = true

enableGitInfo = true

[languages]
[languages.en]
title = "AxoSyslog - a syslog-ng distribution"
description = "Documentation for AxoSyslog, a syslog-ng distribution"
languageName ="English"
# Weight used for sorting.
weight = 1

[outputs]
    home = ["HTML", "print"]
    # Enable print this section menu item
    section = [ "HTML", "print" ]

[social]
# Used as twitter:site in page metadata
twitter = "AxoFlowIO"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
    # See a complete list of available styles at https://xyproto.github.io/splash/docs/all.html
    style = "tango"
    # Uncomment if you want your chosen highlight style used for code blocks without a specified language
    # guessSyntax = "true"

[params]

  # email = ""

  copyright = "Axoflow Inc"

  relativeURLs = true

  # Add project name to the header
  project_name = "AxoSyslog 4"
  product_name = "AxoSyslog"

  hubspotId = "39677057"

  ###############################################################################
  # Docsy-theme specific config customizations
  ###############################################################################

  # Flag used in the "version-banner" partial to decide whether to display a 
  # banner on every page indicating that this is an archived version of the docs.
  # Set this flag to "true" if you want to display the banner.
  archived_version = false

  # The version number for the version of the docs represented in this doc set.
  # Used in the "version-banner" partial to display a version number for the 
  # current doc set.
  version = "4.0.0"
  version_menu_canonicallinks = true

  # A link to latest version of the docs. Used in the "version-banner" partial to
  # point people to the main doc site.
  # url_latest_version = "/"

  # Repository configuration (URLs for in-page links to opening issues and suggesting changes)
  github_repo = "https://github.com/axoflow/axosyslog-core-docs"
  # An optional link to a related project repo. For example, the sibling repository where your product code lives.
  github_project_repo = "https://github.com/syslog-ng/syslog-ng"

  # Specify a value here if your content directory is not in your repo's root directory
  # github_subdir = ""

  # Uncomment this if your GitHub repo does not have "main" as the default branch,
  # or specify a new value if you want to reference another branch in your GitHub links
  github_branch= "main"


  # Enable Lunr.js offline search
  offlineSearch = true

  #####
  # Code highlighting
  #####
  # Highlighting config
  pygmentsCodeFences = true
  pygmentsUseClasses = false
  # Use the new Chroma Go highlighter in Hugo.
  pygmentsUseClassic = false
  #pygmentsOptions = "linenos=table"
  # See https://help.farbox.com/pygments.html
  pygmentsStyle = "coy"
  # Enable syntax highlighting and copy buttons on code blocks with Prism
  prism_syntax_highlighting = true

  # Use tocbot for table of contents
  [params.jstoc]
  enable = true

  # User interface configuration
  [params.ui]
  #  Set to true to disable breadcrumb navigation.
  breadcrumb_disable = false
  # Set to true to disable the About link in the site footer
  footer_about_disable = false
  # Set to false if you don't want to display a logo (/assets/icons/logo.svg) in the top navbar
  navbar_logo = true
  # Set to true if you don't want the top navbar to be translucent when over a `block/cover`, like on the homepage.
  navbar_translucent_over_cover_disable = false
  # Enable to show the side bar menu in its compact state.
  #sidebar_menu_compact = false
  # Enable to make the side bar menu foldable.
  sidebar_menu_foldable = true
  # Set to true to hide the sidebar search box (the top nav search box will still be displayed if search is enabled)
  sidebar_search_disable = false

  [params.links]
  # End user relevant links. These will show up on left side of footer and in the community page if you have one.
  [[params.links.user]]
    name = "Community chat"
    url = "https://discord.gg/583Z4wjem2"
    icon = "fab fa-discord"
    desc = "Discussion and help from your fellow users"
  [[params.links.user]]
    name ="Twitter"
    url = "https://twitter.com/AxoFlowIO"
    icon = "fab fa-twitter"
    desc = "Follow us on Twitter to get the latest news!"
  [[params.links.user]]
    name = "Linkedin"
    url = "https://www.linkedin.com/company/axoflow/"
    icon = "fab fa-linkedin"
    desc = "Follow us on Linkedin to get the latest news!"
  # Developer relevant links. These will show up on right side of footer and in the community page if you have one.
  [[params.links.developer]]
    name = "GitHub"
    url = "https://github.com/axoflow/axosyslog-docker"
    icon = "fab fa-github"
    desc = "Get involved in AxoSyslog development"
##########
# Parameters for shortcodes
##########

[params.product]
name = "AxoSyslog"
abbrev = "AxoSyslog"
version = "4.5"
techversion = "4.5"
configversion = "4.5"
syslog-ng = "syslog-ng"
selinux = "SELinux"
apparmor = "AppArmor"
companyname = "Axoflow"
companyabbrev = "Axoflow"
contact = "[contact us](https://axoflow.com/contact/)"

###############################################################################
# Hugo - Top-level navigation (horizontal)
###############################################################################

[menu]
  [[menu.main]]
    name = "OUR VISION"
    weight = -150
    #pre = "<i class='fas fa-rss pr-2'></i>"
    url = "https://axoflow.com/#our-vision"
  [[menu.main]]
    name = "PRODUCT"
    weight = -130
    #pre = "<i class='fas fa-rss pr-2'></i>"
    url = "https://axoflow.com/axoflow-platform/"
  [[menu.main]]
    name = "DOCUMENTATION"
    weight = -120
    #pre = "<i class='fas fa-book pr-2'></i>"
    url = "/"
    identifier = "documentation"

    [[menu.main]]
      name = "Axoflow Platform"
      weight = -120
      url = "https://axoflow.com/axoflow-platform/"
      identifier = "documentation-axoflow"
      parent = "documentation"
    [[menu.main]]
      name = "AxoSyslog"
      weight = -120
      url = "https://axoflow.com/docs/axosyslog-core/"
      identifier = "documentation-axosyslog"
      parent = "documentation"
    [[menu.main]]
      name = "Logging operator"
      weight = -120
      url = "https://kube-logging.dev/docs/"
      identifier = "documentation-logging-operator"
      parent = "documentation"

  [[menu.main]]
    name = "BLOG"
    weight = -110
    #pre = "<i class='fas fa-blog pr-2'></i>"
    url = "https://axoflow.com/blog/"
  [[menu.main]]
    name = "ABOUT US"
    weight = -100
    #pre = "<i class='fas fa-blog pr-2'></i>"
    url = "https://axoflow.com/about-us/"
  [[menu.main]]
    name = "CONTACT"
    weight = 100
    #pre = "<i class='fas fa-book pr-2'></i>"
    url = "https://axoflow.com/contact/"
###############################################################################
# Misc customizations
###############################################################################

enableRobotsTXT = false

enableGitInfo = true

# Image processing configuration.
[imaging]
resampleFilter = "CatmullRom"
quality = 75
anchor = "smart"

[minify]
  minifyOutput = true
  disableJSON = true
  [minify.tdewolff]
    [minify.tdewolff.html]
    keepQuotes = true
    keepWhitespace = true

[sitemap]
  ChangeFreq = "daily"
  Priority = "1"

[security]
  [security.funcs]
    getenv = ['^HUGO_', 'PWD', '^DOC_', 'ENVIRONMENT']

[privacy]
  [privacy.googleAnalytics]
    respectDoNotTrack = true
