/*

Nothing defined here. The Hugo project that uses this theme can override Bootstrap by adding a file to:

assets/scss/_styles_project.scss

*/
@import "../../themes/docsy-axoflow/assets/scss/_styles_project.scss";

// Disable unneeded meta urls in the right sidebar

.td-page-meta--child {
    display: none !important;
}
