<small class="ms-1">
    <a class="text-white" target="_blank" rel="noopener" href="https://axoflow.com/contact/" aria-label="CONTACT">CONTACT</a>
</small>
<small class="ms-1">
    <a class="text-white" target="_blank" rel="noopener" href="https://axoflow.com/privacy-policy/" aria-label="PRIVACY POLICY">PRIVACY POLICY</a>
</small>
<small class="ms-1">
<!-- Start of HubSpot code snippet -->
<button type="button" id="hs_show_banner_button"
style="background-color: black; border: 0px; text-decoration: none; color: #fff;
       font-family: inherit; font-size: inherit; font-weight: normal; line-height: inherit;
       text-align: left; text-shadow: none;"
onClick="(function(){
  var _hsp = window._hsp = window._hsp || [];
  _hsp.push(['showBanner']);
})()"
>
COOKIE SETTINGS</button>
<!-- End of HubSpot code snippet -->
</small>

<br/>

{{ with .Site.Params.copyright }}<small class="text-white">&copy; {{ now.Year}} {{ .}} {{ T "footer_all_rights_reserved" }}</small>{{ end }}
{{ with .Site.Params.privacy_policy }}<small class="ms-1"><a href="{{ . }}" target="_blank" rel="noopener">{{ T "footer_privacy_policy" }}</a></small>{{ end }}
{{ if not .Site.Params.ui.footer_about_disable -}}
    {{ with .Site.GetPage "about" }}<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
{{ end }}
