<!-- Custom HTML elements that are added to the end of the right sidebar -->

<div class="hs-cta-embed hs-cta-simple-placeholder hs-cta-embed-174736470931"
  style="max-width:100%; max-height:100%; width:200px;height:200px" data-hubspot-wrapper-cta-id="174736470931">
  <a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLKcbjktXPD1JP6NoczNkcoMKDpoVxp99VC7EuTWYxCTCD6xPmRhtSBO%2BlflY2S04ERyvWl13ZO9yu1IsNeRciApSuuDVxXA3PObwMuFdrLsp6rNa51fQnvGL9Qk6Jf8YUkXL%2BOk4Rax%2B7vw4T0uFyfO73c16U4Rt4P5KxGYKNN9Os85pxvaL2%2F86V2lW%2FDpm%2B8ZdVKL9R3EitxgmZliNtP7yN3MTs1GRxyetAtj71s%3D&webInteractiveContentId=174736470931&portalId=39677057" target="_blank" rel="noopener" crossorigin="anonymous">
    <img alt="banner_webinar_resilient_syslog" loading="lazy" src="https://no-cache.hubspot.com/cta/default/39677057/interactive-174736470931.png" style="height: 100%; width: 100%; object-fit: fill"
      onerror="this.style.display='none'" />
  </a>
</div>
