<!-- Custom HTML elements that are added to the end of the right sidebar -->
<div class="cta-sidebar hidden">
  <a href="https://axoflow.com/webinar/?utm_source=docs&utm_medium=menu">
  <img alt="banner_webinar_reduce_data" loading="lazy" src="/img/banner_recorded_webinar_resilient_syslog.svg" style="height: 100%; width: 100%; object-fit: fill"
      onerror="this.style.display='none'" /></a>
</div>
<div class="cta-sidebar hidden">
  <a href="https://axoflow.com/webinar-feed-siem-reduced-detection-ready-security-data/?utm_source=docs&utm_medium=menu">
    <img alt="banner_webinar_reduce_data" loading="lazy" src="/img/banner_webinar_reduce_data.svg" style="height: 100%; width: 100%; object-fit: fill"
        onerror="this.style.display='none'" /></a>
</div>
<div class="cta-sidebar hidden">
        <a href="https://axoflow.com/webinar-parsing-sucks-what-to-do/?utm_source=docs&utm_medium=menu">
    <img alt="banner_webinar_reduce_data" loading="lazy" src="/img/banner_recorded_webinar_parsing_sucks.svg" style="height: 100%; width: 100%; object-fit: fill"
      onerror="this.style.display='none'" /></a>
</div>
<div class="cta-sidebar hidden">
  <a href="https://axoflow.com/webinar-solve-malformed-messages-arriving-siem/?utm_source=docs&utm_medium=menu">
    <img alt="banner_webinar_reduce_data" loading="lazy" src="/img/banner_malformed_message_madness.svg" style="height: 100%; width: 100%; object-fit: fill"
      onerror="this.style.display='none'" /></a>
</div>
<div class="cta-sidebar hidden">
  <a href="https://axoflow.com/webinar-syslog-monitoring-1-2-3/?utm_source=docs&utm_medium=menu">
    <img alt="banner_webinar_reduce_data" loading="lazy" src="/img/banner_webinar_syslog_visibility.svg" style="height: 100%; width: 100%; object-fit: fill"
      onerror="this.style.display='none'" /></a>
</div>
<div class="cta-sidebar hidden">
  <div class="hs-cta-embed hs-cta-simple-placeholder hs-cta-embed-185759891632"
  style="max-width:100%; max-height:100%; width:186px;height:374px" data-hubspot-wrapper-cta-id="185759891632">
  <a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJq2BY4IM%2BL5lRsNeuecJEATK7O7AVCIDTqWd8aLBLN%2FbqKLyhAbZv%2F5mri%2FXPkSh1%2FCY%2BnoiO115dABPpqi1VmFRoehO%2FyhlLWDZ8%2FAe8JXoBJ%2BxS978%2FZtfhuC60TiA6mGj0pH7A40WTQGwyGXGQZ8lxTW9n9F25XVAbKe%2FISoLSrw2ocfTXfsxam2st37Yh%2Be9wdxCUykGSRq%2BHQYNfwq6aTfFI3uXWLVJHkltU%3D&webInteractiveContentId=185759891632&portalId=39677057" target="_blank" rel="noopener" crossorigin="anonymous">
    <img alt="banner_malformed_message_madness_live" loading="lazy" src="https://no-cache.hubspot.com/cta/default/39677057/interactive-185759891632.png" style="height: 100%; width: 100%; object-fit: fill"
      onerror="this.style.display='none'" />
  </a>
  </div>
</div>
<!--<div class="cta-sidebar hidden">
  hubspot embed code
</div>-->

<style onload="displayRandomDiv()"></style>
<script>
  function displayRandomDiv() {
    // Select all div elements with class 'cta-sidebar'
    const divs = document.querySelectorAll('.cta-sidebar');
    // Generate a random index
    const randomIndex = Math.floor(Math.random() * divs.length);
    // Display the randomly selected div
    divs[randomIndex].classList.remove('hidden');
  }
</script>