<!-- Custom HTML elements that are added to the end of the right sidebar -->
<div class="cta-sidebar hidden">
  <div class="hs-cta-embed hs-cta-simple-placeholder hs-cta-embed-174736470931"
  style="max-width:100%; max-height:100%; width:200px;height:200px" data-hubspot-wrapper-cta-id="174736470931">
  <a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLKcbjktXPD1JP6NoczNkcoMKDpoVxp99VC7EuTWYxCTCD6xPmRhtSBO%2BlflY2S04ERyvWl13ZO9yu1IsNeRciApSuuDVxXA3PObwMuFdrLsp6rNa51fQnvGL9Qk6Jf8YUkXL%2BOk4Rax%2B7vw4T0uFyfO73c16U4Rt4P5KxGYKNN9Os85pxvaL2%2F86V2lW%2FDpm%2B8ZdVKL9R3EitxgmZliNtP7yN3MTs1GRxyetAtj71s%3D&webInteractiveContentId=174736470931&portalId=39677057" target="_blank" rel="noopener" crossorigin="anonymous">
    <img alt="banner_webinar_resilient_syslog" loading="lazy" src="https://no-cache.hubspot.com/cta/default/39677057/interactive-174736470931.png" style="height: 100%; width: 100%; object-fit: fill"
      onerror="this.style.display='none'" />
  </a>
  </div>
</div>
<div class="cta-sidebar hidden">
  <div class="hs-cta-embed hs-cta-simple-placeholder hs-cta-embed-183994782900"
  style="max-width:100%; max-height:100%; width:154px;height:271px" data-hubspot-wrapper-cta-id="183994782900">
  <a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJ026SuHR8gVXJTJiJ7lbGolnHrElBZF1vHXA%2Fihxfm8wywisMC1tyVdoWYXZbSZGXCwbjfx4H0%2FnPeishZEkjcR3dDKrSBYanNTMg74MYAx1D%2FKMP5ms8In4xnN%2BG8XRdvLJgyEJ8EoryGj0qvsjUuTDibpKPCk4k9Ur%2Bd1EBwhZf7l9RXGjuoNl9hZm8w2Aad7HZ48r27zYF8%2FT248RvgKeAA2l1k%2FE9zpLArhRAfvWZvKqdvtExWEIak%2BPWXy3pAH9y1&webInteractiveContentId=183994782900&portalId=39677057" target="_blank" rel="noopener" crossorigin="anonymous">
    <img alt="banner_recorded_webinar_parsing_sucks" loading="lazy" src="https://no-cache.hubspot.com/cta/default/39677057/interactive-183994782900.png" style="height: 100%; width: 100%; object-fit: fill"
      onerror="this.style.display='none'" />
  </a>
  </div>
</div>
<div class="cta-sidebar hidden">
  <div class="hs-cta-embed hs-cta-simple-placeholder hs-cta-embed-183997632666"
  style="max-width:100%; max-height:100%; width:154px;height:347.25px" data-hubspot-wrapper-cta-id="183997632666">
  <a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLLUhstsRMRiVL6h3fVSSYPGSrJYxsW1RtkDWN33yp0U8OBRrtugFNY%2Fb3Hz0SRzEto%2FyFj6YHhVZpIZBhErt7KJutjUArZjfx7HkV0YbJ%2BOX6rXqI1wpHeUDXvcODKLC4FywelHUD8EwcJHlgtuj2jeLuCi2Y98K1OpsaYBDNhPpWEPECe4YN34QuTcMKD3xjw2xzQEPya%2FdHSVjb4Eg%2FGqYpFsswt%2Fi3zLXug3qT2aLSkePtJKgp0hgkPZ7hps3uq5o0LW8RUEioazKxWgY4fXWtAPnff5tw%3D%3D&webInteractiveContentId=183997632666&portalId=39677057" target="_blank" rel="noopener" crossorigin="anonymous">
    <img alt="banner_webinar_reduce_data" loading="lazy" src="https://no-cache.hubspot.com/cta/default/39677057/interactive-183997632666.png" style="height: 100%; width: 100%; object-fit: fill"
      onerror="this.style.display='none'" />
  </a>
  </div>
</div>
<div class="cta-sidebar hidden">
  <div class="hs-cta-embed hs-cta-simple-placeholder hs-cta-embed-185759891632"
  style="max-width:100%; max-height:100%; width:186px;height:374px" data-hubspot-wrapper-cta-id="185759891632">
  <a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJq2BY4IM%2BL5lRsNeuecJEATK7O7AVCIDTqWd8aLBLN%2FbqKLyhAbZv%2F5mri%2FXPkSh1%2FCY%2BnoiO115dABPpqi1VmFRoehO%2FyhlLWDZ8%2FAe8JXoBJ%2BxS978%2FZtfhuC60TiA6mGj0pH7A40WTQGwyGXGQZ8lxTW9n9F25XVAbKe%2FISoLSrw2ocfTXfsxam2st37Yh%2Be9wdxCUykGSRq%2BHQYNfwq6aTfFI3uXWLVJHkltU%3D&webInteractiveContentId=185759891632&portalId=39677057" target="_blank" rel="noopener" crossorigin="anonymous">
    <img alt="banner_malformed_message_madness_live" loading="lazy" src="https://no-cache.hubspot.com/cta/default/39677057/interactive-185759891632.png" style="height: 100%; width: 100%; object-fit: fill"
      onerror="this.style.display='none'" />
  </a>
  </div>
</div>
<!--<div class="cta-sidebar hidden">
  hubspot embed code
</div>-->

<style onload="displayRandomDiv()"></style>
<script>
  function displayRandomDiv() {
    // Select all div elements with class 'cta-sidebar'
    const divs = document.querySelectorAll('.cta-sidebar');
    // Generate a random index
    const randomIndex = Math.floor(Math.random() * divs.length);
    // Display the randomly selected div
    divs[randomIndex].classList.remove('hidden');
  }
</script>