name: Prod image build

on:
  push:
    tags: ["*"]

# secrets:
# - WIF_SERVICE_ACCOUNT
# - WIF_PROVIDER
#
# vars:
# - GCP_PROJECT
# - REGISTRY_DOMAIN

env:
  IMAGE_PREFIX: ${{ vars.REGISTRY_DOMAIN }}/${{ vars.GCP_PROJECT }}/axosyslog-core-docs
  IMAGE_NAME: axosyslog-core-docs

jobs:
  image-build:
    name: build&push
    runs-on: ubuntu-latest
    # Add 'id-token' with the intended permissions for workload identity federation
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - name: Checkout
        uses: "actions/checkout@v4"

      ### Preparation: Auth, setup ###

      - name: Google auth
        id: auth
        uses: "google-github-actions/auth@v1"
        with:
          workload_identity_provider: "${{ secrets.WIF_PROVIDER }}"
          service_account: "${{ secrets.WIF_SERVICE_ACCOUNT }}"
          token_format: "access_token"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: "${{ vars.REGISTRY_DOMAIN }}"
          username: oauth2accesstoken
          password: "${{ steps.auth.outputs.access_token }}"

      # https://docs.docker.com/build/ci/github-actions/multi-platform/
      # - name: Set up QEMU for multi-arch build
      #   uses: docker/setup-qemu-action@v2

      ### Image building ###

      - name: Collect metadata for image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_PREFIX }}/${{ env.IMAGE_NAME }}
          # https://github.com/docker/metadata-action#typesemver
          tags: |
            type=ref,event=branch,enable=${{ startsWith(github.ref, 'refs/heads/') }}
            type=semver,pattern={{raw}},enable=${{ startsWith(github.ref, 'refs/tags/') }}
          labels: |
            org.opencontainers.image.title=${{ env.IMAGE_NAME }}
            org.opencontainers.image.vendor: Axoflow
            org.opencontainers.image.authors: Axoflow
            maintainer: "Axoflow <info@axoflow.com>"
            org.opencontainers.image.url: https://axoflow.com
            org.opencontainers.image.source: https://axoflow.com

      - name: Build image
        uses: docker/build-push-action@v5
        with:
          # platforms: linux/amd64
          context: "."
          file: Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
