name: Staging

on:
  push:
    branches:
      - main

  workflow_dispatch:

permissions:
  pages: write
  id-token: write

concurrency:
  group: "staging"
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Set up Pages
        id: pages
        uses: actions/configure-pages@v3

      - name: Set up Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.122.0'
          extended: true

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd themes/docsy
          npm install

      - name: Set up PostCSS
        run: npm install --save-dev autoprefixer postcss-cli postcss

      - name: Build
        run: hugo --environment staging --baseURL ${{ steps.pages.outputs.base_url }}/

      - name: Pagefind search index
        run: npm_config_yes=true npx pagefind --output-subdir pagefind --site ./public

      # Build hugo output with manpages environment, run scripts, copy output manpages to public so it gets uploaded
      - name: Build manpage environment
        run: hugo --environment manpage --baseURL ${{ steps.pages.outputs.base_url }}/ --destination manpages
      - name: Convert manpages
        run: |
          sudo apt-get install -y xsltproc
          pip install beautifulsoup4 lxml
          python3 scripts/create-man-from-html.py
          mv manpages/syslog-ng-manpages/ public/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public/

  deploy:
    name: Deploy
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
